body,html {
    background-color: white;background-image: url("image.jpg");
    background-size: cover;width: 200ox;
    height: 100vh;background-repeat: no-repeat; margin: 0;
    padding: 0;
}

.content{
    max-width: 600px;
    padding:20px;
    margin:auto;
    justify-content: center;
    align-items: center;}
h2 {
    background-color: #FF671F;
    color:#ffffff;
    padding:10px;
    font-family: monospace;
    text-align: center;
    border-radius:7px;
    box-shadow: 4px 4px #ee9be4;
}
.btn{
    height:50px;
    width:150px;font-family: monospace;
    font-size: 18px;
    color:#ffffff;
    background-color: #ee9be4;
    box-shadow: 4px 4px #FF671F;
    padding:5px;
    border-radius: 7px;}

.card{
    padding:15px 30px 15px 30px;
    max-width:500px;
    max-height:300px;
    text-align: center;
    background-color: white;
    border-radius: 9px;
    border-top: #ee9be4 5px;
    margin-top: 20px;
    } 
button:focus {outline: none;}

p{
    font-family: serif;

  font-size: 20px;}

img{height:25px;width:25px;}
